{{log "adversity" this}}
<div class="adversity">
  <div>
    {{localize "RAFALES.Adversity.title"}}
  </div>
  <div>
    {{adversity}}
  </div>
  <div>
    {{localize "RAFALES.Label.numeroHorde"}}
  </div>
  <div>
    {{horde}}
  </div>
</div>