{{log "chat-message" this}}
<div class="{{cssClass}}">
  <div class="intro-chat">
    {{#if (ne actingCharImg "icons/svg/mystery-man.svg")}}
      <div class="intro-img">
        <img src="{{actingCharImg}}" data-tooltip="{{actingCharName}}" />
      </div>
    {{else}}
      <div></div>
    {{/if}}
    <div class="intro-right">
      <p class="introText">{{{introText}}}</p>
      <p class="introTextMJ">{{{introTextMJ}}}</p>
    </div>
  </div>

  <div class="result">
    {{#if (eq resultType "success")}}
      {{#if isPrivate}}?{{else}}{{localize "RAFALES.Roll.success"}}{{/if}}
    {{/if}}
    {{#if (eq resultType "partialSuccess")}}
      {{#if isPrivate}}?{{else}}{{localize "RAFALES.Roll.partialSuccess"}}{{/if}}
    {{/if}}
    {{#if (eq resultType "failure")}}
      {{#if isPrivate}}?{{else}}{{localize "RAFALES.Roll.failure"}}{{/if}}
    {{/if}}
  </div>

  {{#unless isPrivate}}
    <div class="dice-result">
      <h4 class="dice-total">{{total}}</h4>
      <div class="dice-formula">{{formula}}</div>
      {{{tooltip}}}
    </div>
  {{/unless}}
</div>