{{log "chat-message" this}}
<div class="{{cssClass}}">
  <div class="intro-chat">
    {{#if (ne actingCharImg "icons/svg/mystery-man.svg")}}
      <div class="intro-img">
        <img src="{{actingCharImg}}" data-tooltip="{{actingCharName}}" />
      </div>
    {{else}}
      <div></div>
    {{/if}}
    <div class="intro-right">
      <p class="introText">{{{introText}}}</p>
      {{#if isGM}}
        {{#if (ne introTextMJ "")}}
          <p class="introTextMJ">{{{introTextMJ}}}</p>
        {{/if}}
      {{/if}}
    </div>
  </div>

  <div class="result">
    {{#if (eq resultType "success")}}
      {{#if isPrivate}}?{{else}}{{localize "RAFALES.Roll.success"}}{{/if}}
    {{/if}}
    {{#if (eq resultType "partialSuccess")}}
      {{#if isPrivate}}?{{else}}{{localize "RAFALES.Roll.partialSuccess"}}{{/if}}
    {{/if}}
    {{#if (eq resultType "failure")}}
      {{#if isPrivate}}?{{else}}{{localize "RAFALES.Roll.failure"}}{{/if}}
    {{/if}}
    {{#if (eq resultType "criticalFailure")}}
      {{#if isPrivate}}?{{else}}{{localize "RAFALES.Roll.criticalFailure"}}{{/if}}
    {{/if}}
    {{#if (and isGM oneStatLost)}}
      <div class="adversity-spend">
        <button class="button-spend" data-action="spendAdversity" data-stat="cohesion">{{localize "RAFALES.Horde.FIELDS.statistiques.cohesion.label"}}</button>
        <button class="button-spend" data-action="spendAdversity" data-stat="vitalite">{{localize "RAFALES.Horde.FIELDS.statistiques.vitalite.label"}}</button>
        <button class="button-spend" data-action="spendAdversity" data-stat="conviction">{{localize "RAFALES.Horde.FIELDS.statistiques.conviction.label"}}</button>
      </div>
    {{/if}}
  </div>

  {{#unless isPrivate}}
    <div class="dice-result">
      <h4 class="dice-total">{{total}}</h4>
    </div>
  {{/unless}}
</div>