{{log "hordier" this}}
<div class="hordier">
  <div class="hordier-header">
    <div class="hordier-header-gauche">
       <img src="{{actor.img}}" data-edit="img" data-action="editImage" data-tooltip="{{actor.name}}" />
    </div>
    <div class="hordier-header-milieu">
       <div>
          <div class="nom" {{#if isPlayMode}}data-action="roll"{{/if}}>
          <div class="nom-label">{{localize "RAFALES.Label.nom"}}</div>
          {{formInput fields.name value=source.name disabled=isPlayMode}}
          </div>
        <div class="hordier-role">
          <div class="role-label">{{localize "RAFALES.Label.role"}}</div>
          {{#if isPlayMode}}
            <div class="role">{{system.displayRole}}</div>
          {{else}}
            {{formInput systemFields.role value=system.role localize=true}}
          {{/if}}
        </div>
        <div class="horde-nom">
          <div class="horde-label">{{localize "RAFALES.Label.numeroHorde"}}</div>
          {{formInput systemFields.horde value=system.horde disabled=isPlayMode}}   
        </div>
       </div>
    </div>
    <div class="hordier-header-droite">
      <div><img class="hordier-role-img" src="{{system.imgRole}}" /></div>
      <div>
        <a class="control" data-action="toggleSheet" data-tooltip="RAFALES.ToggleSheet" data-tooltip-direction="UP">
          <i class="fa-solid fa-user-{{ifThen isPlayMode 'lock' 'pen'}}"></i>
        </a>
      </div>                
    </div>
  </div>
  <fieldset>
    <legend>{{localize "RAFALES.Label.biographie"}}</legend>
    {{formInput systemFields.biographie enriched=enrichedBiographie value=system.biographie name="system.biographie" toggled=true}}
  </fieldset>
  <fieldset>
    <legend>{{localize "RAFALES.Label.liens"}}
      {{#unless @root.isPlayMode}}<a class="action" data-tooltip="{{localize 'RAFALES.Tooltip.createLink'}}" data-tooltip-direction="UP"><i class="fas fa-plus" data-action="createLink"></i></a>{{/unless}}</legend>
    {{#each liens as |lien index|}}
      <div class="lien">
        <div class="lien-label"><span style="color:#671006;">Nom</span> (Lien {{numeroLien index}}) : </div>
        <input class="lien-nom" name="system.liens.{{index}}.nom" type="text" value="{{lien.nom}}" data-dtype="String" {{#if @root.isPlayMode}}disabled{{/if}} />
        <input class="lien-lien" name="system.liens.{{index}}.lien" type="text" value="{{lien.lien}}" data-dtype="String" {{#if @root.isPlayMode}}disabled{{/if}} />
        {{#unless @root.isPlayMode}}
          <a data-action="deleteLink" data-index="{{index}}" data-tooltip="{{localize 'RAFALES.Tooltip.deleteLink'}}"><i class="fas fa-trash"></i></a>
        {{/unless}}
      </div>
    {{/each}}
  </fieldset>
  <fieldset>
    <legend>{{localize "RAFALES.Label.notes"}}</legend>
    {{formInput systemFields.notes enriched=enrichedNotes value=system.notes name="system.notes" toggled=true}}
  </fieldset>
</div>