{{log 'horde' this}}
<div class="grid-horde">
    <div class="cohesion">Cohesion: {{cohesion.valeur}}</div>
    <div class="vitalite">Vitalite: {{vitalite.valeur}}</div>
    <div class="conviction">Conviction: {{conviction.valeur}}</div>
    <div class="connaissance">Connaissance: {{connaissance.valeur}}</div>
    <div class="espoir">Espoir: {{espoir.valeur}}</div>
    <div class="vif">Vif: {{vif.valeur}}
</div>


