{{log 'horde' this}}
<div class="horde">
    <div class="nom">
        <div class="nom-label">{{localize "RAFALES.Label.numeroHorde"}}</div>
        {{formInput fields.name value=source.name}}
    </div>
    <div class="cohesion">
        <div class="cohesion-name" data-tooltip="{{localize 'RAFALES.Tooltip.increaseDecreaseStat'}}">{{localize "RAFALES.Label.Majuscule.cohesion"}}</div>
        <img class="cohesion-img" src="/systems/rafales/assets/cran_{{cohesionIndice}}.webp" data-tooltip="{{cohesion.valeur}}" />
        <div class="cohesion-input">
            {{#if isGM}}{{formInput systemFields.statistiques.fields.cohesion.fields.valeur value=system.statistiques.cohesion.valeur disabled=false}}{{/if}}
        </div>
    </div>
    <div class="connaissance">
        <div class="connaissance-name">{{localize "RAFALES.Label.Majuscule.connaissance"}}</div>
        <div class="connaissance-input">
            {{#each connaissanceArray as |connaissance index|}}
                <input type="checkbox" name="connaissance{{connaissance.indice}}" data-action="changeConnaissance" data-value="{{connaissance.indice}}" {{#if connaissance.value}}checked {{/if}}>                               
            {{/each}}
            <img class="connaissance-img {{#unless connaissanceFull}}cache{{/unless}}" src="/systems/rafales/assets/cran_20.webp" data-tooltip="{{localize "RAFALES.Label.restoreCohesion"}}" />
        </div>
    </div>

    <div class="vitalite">
        <div class="vitalite-name" data-tooltip="{{localize 'RAFALES.Tooltip.increaseDecreaseStat'}}">{{localize "RAFALES.Label.Majuscule.vitalite"}}</div>
        <img class="vitalite-img" src="/systems/rafales/assets/cran_{{vitaliteIndice}}.webp" data-tooltip="{{vitalite.valeur}}" />
        <div class="vitalite-input">
            {{#if isGM}}{{formInput systemFields.statistiques.fields.vitalite.fields.valeur value=system.statistiques.vitalite.valeur disabled=false}}{{/if}}
        </div>            
    </div>    

    <div class="espoir">
        <div class="espoir-name">{{localize "RAFALES.Label.Majuscule.espoir"}}</div>
        <div class="espoir-input">
            {{#each espoirArray as |espoir index|}}
                <input type="checkbox" name="espoir{{espoir.indice}}" data-action="changeEspoir" data-value="{{espoir.indice}}" {{#if espoir.value}}checked {{/if}}>                               
            {{/each}}
            <img class="espoir-img {{#unless espoirFull}}cache{{/unless}}" src="/systems/rafales/assets/cran_20.webp" data-tooltip="{{localize "RAFALES.Label.restoreVitalite"}}" />
        </div>
    </div>
    <div class="conviction">
        <div class="conviction-name" data-tooltip="{{localize 'RAFALES.Tooltip.increaseDecreaseStat'}}">{{localize "RAFALES.Label.Majuscule.conviction"}}</div>
        <img class="conviction-img" src="/systems/rafales/assets/cran_{{convictionIndice}}.webp" data-tooltip="{{conviction.valeur}}" />
        <div class="conviction-input">
            {{#if isGM}}{{formInput systemFields.statistiques.fields.conviction.fields.valeur value=system.statistiques.conviction.valeur disabled=false}}{{/if}}
        </div>
    </div>    
    <div class="vif">
        <div class="vif-name">{{localize "RAFALES.Label.Majuscule.vif"}}</div>
        <div class="vif-input">
            {{#each vifArray as |vif index|}}
                <input type="checkbox" name="vif{{vif.indice}}" data-action="changeVif" data-value="{{vif.indice}}" {{#if vif.value}}checked {{/if}}>                               
            {{/each}}
            <img class="vif-img {{#unless vifFull}}cache{{/unless}}" src="/systems/rafales/assets/cran_20.webp" data-tooltip="{{localize "RAFALES.Label.restoreConviction"}}" />
        </div>
    </div>
</div>


